html {
  scroll-behavior: smooth;
}

.orangeTxt{
  color: rgb(236, 169, 0);
}

.blueTxt{
  color: rgb(28, 71, 146);
}

.greyBg{
  background-color: #d0d0d0;
}

body {
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  font-family: "Open Sans", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.information {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.titleGraph {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.nav-gutter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bg-info {
  /* background-color: #2a2a72;
  background-image: linear-gradient(180deg, #2a2a72 0%, #009ffd 74%); */
  background-color: #3f72af !important;
}

.text-primary{
  color: #3f72af !important;
}

.bg-grad {
  background-color: #dedede;
  /* background-image: url("https://www.transparenttextures.com/patterns/climpek.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

a {
  text-decoration: none;
  color: black;
}
