{% extends 'EcoFin/header.html' %} {% load static %} {% block content %}

<div>
  
  <div class="dropdown d-md-block d-block d-lg-none " style="background-color: rgba(0, 0, 0, 0.4)">
    <button class="btn btn-light dropdown-toggle w-100 p-3 fs-2 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      On This Page
    </button>
    <ul class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton1">
  
        <a href="#graph0" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Gross Domestic Product (GDP)</a>
    
        <a href="#graph1" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Inflation</a>
      
        <a href="#graph2" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Business Performance</a>
    
        <a href="#graph3" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Trade & Forex</a>
    
        <a href="#graph4" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Unemployment</a>
    
        <a href="#graph5" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Fiscal Situation</a>

        <a href="#graph6" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Interest rates & bond</a>
  
        <a href="#graph7" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Equity Markets</a>
    
        <a href="#graph8" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Commodity Markets</a>
    
        <a href="#graph9" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Foreign Investment</a>
  
        <a href="#graph10" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Money & Credit</a>
    
        <a href="#graph11" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Real Estate</a>
    
        <a href="#graph12" class="p-3 fs-2 border bg-light nav-gutter dropdown-item">Venture Capital & IPOs</a>
     
    </ul>
  </div>
  
  <div class="d-flex justify-content-around">
  
    <div class="col-12 col-md-12 col-lg-2 mx-auto pt-4 pb-4 sticky-top h-100 d-md-none d-none d-lg-block">
      <div class="py-2">
        <div class="card">
          <h5 class="text-light fw-normal bg-info p-3 m-0">On This Page</h5>
          <div class="card-body">
            <div id="top-menu">
              <div class="row">
                <a href="#graph0" class="p-2 border bg-light nav-gutter">Gross Domestic Product (GDP)</a>
              </div>
              <div class="row">
                <a href="#graph1" class="p-2 border bg-light nav-gutter">Inflation</a>
              </div>
              <div class="row">
                <a href="#graph2" class="p-2 border bg-light nav-gutter">Business Performance</a>
              </div>
              <div class="row">
                <a href="#graph3" class="p-2 border bg-light nav-gutter">Trade & Forex</a>
              </div>
              <div class="row">
                <a href="#graph4" class="p-2 border bg-light nav-gutter">Unemployment</a>
              </div>
              <div class="row">
                <a href="#graph5" class="p-2 border bg-light nav-gutter">Fiscal Situation</a>
              </div>
              <div class="row">
                <a href="#graph6" class="p-2 border bg-light nav-gutter">Interest rates & bond</a>
              </div>
              <div class="row">
                <a href="#graph7" class="p-2 border bg-light nav-gutter">Equity Markets</a>
              </div>
              <div class="row">
                <a href="#graph8" class="p-2 border bg-light nav-gutter">Commodity Markets</a>
              </div>
              <div class="row">
                <a href="#graph9" class="p-2 border bg-light nav-gutter">Foreign Investment</a>
              </div>
              <div class="row">
                <a href="#graph10" class="p-2 border bg-light nav-gutter">Money & Credit</a>
              </div>
              <div class="row">
                <a href="#graph11" class="p-2 border bg-light nav-gutter">Real Estate</a>
              </div>
              <div class="row">
                <a href="#graph12" class="p-2 border bg-light nav-gutter">Venture Capital & IPOs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
    </div>   
  
    <div class="col-12 col-md-12 col-lg-10 mx-auto pt-4 pb-4 d-flex justify-content-around"> 
  
      <div class="row container-fluid">
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph0">
          <div class="card page-section">
            <a href="{% url 'gdp' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Gross Domestic Product (GDP) <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj1.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot1" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj1.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph1">
          <div class="card page-section">
            <a href="{% url 'inflation' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Inflation <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj2.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot2" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj2.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph2">
          <div class="card page-section">
            <a href="{% url 'businessPerformance' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Business Performance <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj3.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot3" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj3.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph3">
          <div class="card page-section">
            <a href="{% url 'tradeForex' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Trade & Forex <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj4.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot4" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj4.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph4">
          <div class="card page-section">
            <a href="{% url 'unemployment' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Unemployment <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj5.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot5" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj5.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph5">
          <div class="card page-section">
            <a href="{% url 'fiscalSituation' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Fiscal Situation <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj6.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot6" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj6.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph6">
          <div class="card page-section">
            <a href="{% url 'interestRatesBond' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Interest rates & bond <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj7.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot7" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj7.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph7">
          <div class="card page-section">
            <a href="{% url 'equityMarkets' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Equity Markets <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj8.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot8" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj8.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph8">
          <div class="card page-section">
            <a href="{% url 'commodityMarkets' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Commodity Markets <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj9.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot9" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj9.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph9">
          <div class="card page-section">
            <a href="{% url 'foreignInvestment' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Foreign Investment <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj10.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot10" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj10.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph10">
          <div class="card page-section">
            <a href="{% url 'moneyCredit' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Money & Credit <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj12.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot11" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj11.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-2" id="graph11">
          <div class="card page-section">
            <a href="{% url 'realEstate' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Real Estate <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj12.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot12" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj12.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 p-2" id="graph12">
          <div class="card page-section">
            <a href="{% url 'ventureCapitalIPO' %}"><h5 class="text-light fw-normal bg-info p-3 m-0">Venture Capital & IPOs <i class="fa fa-external-link float-end" aria-hidden="true"></i></h5></a>
            <div class="card-body">
              <h5 class="card-title text-center"><span class="d-inline-block text-truncate w-75">{{res.responseObj13.1.0.indicator.value}}</span> <i class="fa fa-info-circle mx-2 text-primary" aria-hidden="true"></i></h5>
              <div id="myPlot13" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-start col p-0 m-0"><small class="text-muted">Source : IIMA Misra Centre, CEIC</small></p>
                <p class="card-text text-end col p-0 m-0"><small class="text-muted">Updated on {{res.responseObj13.0.lastupdated}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <hr class="bg-light">

  </div>

  <div class="bg-light py-3">
    <div class="text-center">
      <h2 class="mt-5 mb-5">FAQs</h2>
      <div class="accordion container" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<br>

<script> 

  data1 = JSON.parse("{{res.response1|escapejs}}");
  data2 = JSON.parse("{{res.response2|escapejs}}");
  data3 = JSON.parse("{{res.response3|escapejs}}");
  data4 = JSON.parse("{{res.response4|escapejs}}");
  data5 = JSON.parse("{{res.response5|escapejs}}");
  data6 = JSON.parse("{{res.response6|escapejs}}");
  data7 = JSON.parse("{{res.response7|escapejs}}");
  data8 = JSON.parse("{{res.response8|escapejs}}");
  data9 = JSON.parse("{{res.response9|escapejs}}");
  data10 = JSON.parse("{{res.response10|escapejs}}");
  data11 = JSON.parse("{{res.response11|escapejs}}");
  data12 = JSON.parse("{{res.response12|escapejs}}");
  data13 = JSON.parse("{{res.response13|escapejs}}");

  genrateGraph(data1,"myPlot1","line","v");
  genrateGraph(data2,"myPlot2","bar","v");
  genrateGraph(data3,"myPlot3","line","v");
  genrateGraph(data4,"myPlot4","bar","h");
  genrateGraph(data5,"myPlot5","line","v");
  genrateGraph(data6,"myPlot6","bar","v");
  genrateGraph(data7,"myPlot7","line","v");
  genrateGraph(data8,"myPlot8","bar","v");
  genrateGraph(data9,"myPlot9","line","v");
  genrateGraph(data10,"myPlot10","bar","h");
  genrateGraph(data11,"myPlot11","line","v");
  genrateGraph(data12,"myPlot12","bar","v");
  genrateGraph(data13,"myPlot13","line","v");

  $(document).ready(function() {
    // executes when HTML-Document is loaded and DOM is ready
     $( ".page-section" ).hover(
     function() {
       $(this).addClass('border-1 border-primary').css('cursor', 'pointer'); 
     }, function() {
       $(this).removeClass('border-1 border-primary');
     }
   );
   // document ready  
  });
  
</script>

{% endblock content %}
