<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'EcoFin/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'EcoFin/css/style.css' %}" />
  <script src="{% static 'EcoFin/js/plotly.min.js' %}"></script>
  <script src="{% static 'EcoFin/js/plotly.js' %}"></script>
  <script src="{% static 'EcoFin/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'EcoFin/js/font-awesome.js' %}"></script>
  <script src="{% static 'EcoFin/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'EcoFin/js/popper.min.js' %}"></script>
  <title>EcoFinWeb</title>
  <style>
    #loading {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: #fff no-repeat center center;
      z-index: 99999;
    }
  </style>
</head>

<body class="bg-grad">
  <div id="loading" class="p-3"><div class="d-flex justify-content-center align-items-center h-100" ><img src="{% static 'EcoFin/img/loader.gif' %}" height="80" width="80" alt=""></div></div>

  <h1 class="text-center py-5 text-light m-0 d-md-none d-none d-lg-block" style="background-color: #112d4e">
    {{res.Title}}
  </h1>

  <h5 class="text-center py-4 px-4 text-light m-0 d-md-block d-block d-lg-none" style="background-color: #112d4e">
    {{res.Title}}
  </h5>

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 ms-4 d-none d-md-block fw-bold text-primary" href="#">EcoFinWEB</a>
      <div class="float-md-end mx-auto mx-md-0">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0 flex-row">
          <li class="nav-item my-auto">
            <a class="nav-link d-inline {{activeHome}} mx-2 mx-md-1 fw-bold" href="{% url 'dashboard' %}">Home</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link d-inline {{activeAbout}} mx-2 mx-md-1 fw-bold" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link d-inline {{activeContact}} mx-2 mx-md-1 fw-bold" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item my-auto fw-bold">
            <a class="nav-link d-inline badge ms-3 mx-md-3 bg-info text-light fw-normal px-3" href="#FAQs">FAQs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock content %}

  <footer class="text-center text-white" style="background-color:#112D4E;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for daily updates</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" placeholder="Email address..." />
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p style="max-width: 700px" class="mx-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          nulla nesciunt dignissimos quos libero doloremque minus eaque
          voluptatum, possimus ipsam id pariatur enim, itaque hic amet est
          soluta dolorum deserunt.
        </p>
      </section>
      <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Copyright © 2022 All Rights Reserved by :
      <a class="text-white" href="#">Misra Centre</a>
    </div>
    <!-- Copyright -->
  </footer>

</body>

</html>