<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'EcoFin/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'EcoFin/css/style.css' %}" />
  <script src="{% static 'EcoFin/js/plotly.min.js' %}"></script>
  <script src="{% static 'EcoFin/js/plotly.js' %}"></script>
  <script src="{% static 'EcoFin/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'EcoFin/js/font-awesome.js' %}"></script>
  <script src="{% static 'EcoFin/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'EcoFin/js/popper.min.js' %}"></script>
  <title>EcoFinWeb</title>
  <style>
    #loading {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: #fff no-repeat center center;
      z-index: 99999;
    }
  </style>
</head>

<body class="bg-grad">

  <div id="loading" class="p-3"><div class="d-flex justify-content-center align-items-center h-100" ><img src="{% static 'EcoFin/img/loader.gif' %}" height="80" width="80" alt=""></div></div>

  <h2 class="text-center py-5 m-0 d-md-none d-none d-lg-block fw-bold orangeTxt bg-light" style="border-bottom: 5px double #808080;">
    At a Glance: India and Other Emerging Economies
  </h2>

  <h5 class="text-center py-4 px-4 m-0 d-md-block d-block d-lg-none fw-bold orangeTxt bg-light" style="border-bottom: 5px double #808080;">
    At a Glance: India and Other Emerging Economies
  </h5>

  <nav class="navbar navbar-light bg-light mb-3 py-3" style="border-bottom: 5px double #808080;">
    <div class="container">
      <a class="navbar-brand fw-bold">Misra Centre for Financial Markets and Economy</a>
      <div class="d-flex">
        <button class="btn btn-outline-success">MCFME Homepage</button>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock content %}

</body>

</html>