{% extends 'EcoFin/header.html' %} {% load static %} {% block content %}

<div>

  <div class="dropdown d-md-block d-block d-lg-none ">
    <button class="dropdown-toggle w-100 p-3 border-0 text-light fw-bold" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #112d4e">
      On This Page
    </button>
    <ul class="dropdown-menu w-100 text-center mt-0 pt-0" aria-labelledby="dropdownMenuButton1">

      <a href="#graph0" class="p-2 border bg-light nav-gutter dropdown-item">GDP, PPP</a>

      <a href="#graph1" class="p-2 border bg-light nav-gutter dropdown-item">Index of Industrial Production</a>

      <a href="#graph2" class="p-2 border bg-light nav-gutter dropdown-item">Real GDP Growth Rate</a>

      <a href="#graph3" class="p-2 border bg-light nav-gutter dropdown-item">Net Exports</a>

      <a href="#graph4" class="p-2 border bg-light nav-gutter dropdown-item">Consumer Price Index</a>

      <a href="#graph5" class="p-2 border bg-light nav-gutter dropdown-item">Government Fiscal Balance</a>

      <a href="#graph6" class="p-2 border bg-light nav-gutter dropdown-item">Market Capitalization</a>

      <a href="#graph7" class="p-2 border bg-light nav-gutter dropdown-item">Equity Markets</a>

      <a href="#graph8" class="p-2 border bg-light nav-gutter dropdown-item">Gross Debt</a>

      <a href="#graph9" class="p-2 border bg-light nav-gutter dropdown-item">Private Debt</a>

      <a href="#graph10" class="p-2 border bg-light nav-gutter dropdown-item">Portfolio Investment</a>

      <a href="#graph11" class="p-2 border bg-light nav-gutter dropdown-item">Mobile money transactions</a>

      <a href="#graph12" class="p-2 border bg-light nav-gutter dropdown-item">Commercial Bank Branches</a>

    </ul>
  </div>

  <div class="d-flex justify-content-around">

    <div class="col-12 col-md-12 col-lg-2 mx-auto pt-4 pb-4 sticky-top h-100 d-md-none d-none d-lg-block">
      <div class="py-2">
        <div class="card">
          <h5 class="text-light bg-info p-3 m-0 fw-bold">On This Page</h5>
          <div class="card-body">
            <div id="top-menu">
              <div class="row">
                <a href="#graph0" class="p-2 border bg-light nav-gutter fw-bold text-primary">GDP, PPP</a>
              </div>
              <div class="row">
                <a href="#graph1" class="p-2 border bg-light nav-gutter fw-bold text-primary">Index of Industrial
                  Production</a>
              </div>
              <div class="row">
                <a href="#graph2" class="p-2 border bg-light nav-gutter fw-bold text-primary">Real GDP Growth Rate</a>
              </div>
              <div class="row">
                <a href="#graph3" class="p-2 border bg-light nav-gutter fw-bold text-primary">Net Exports</a>
              </div>
              <div class="row">
                <a href="#graph4" class="p-2 border bg-light nav-gutter fw-bold text-primary">Exchange Rate</a>
              </div>
              <div class="row">
                <a href="#graph5" class="p-2 border bg-light nav-gutter fw-bold text-primary">Consumer Price Index</a>
              </div>
              <div class="row">
                <a href="#graph6" class="p-2 border bg-light nav-gutter fw-bold text-primary">Government Fiscal
                  Balance</a>
              </div>
              <div class="row">
                <a href="#graph7" class="p-2 border bg-light nav-gutter fw-bold text-primary">Market Capitalization</a>
              </div>
              <div class="row">
                <a href="#graph8" class="p-2 border bg-light nav-gutter fw-bold text-primary">Gross Debt</a>
              </div>
              <div class="row">
                <a href="#graph9" class="p-2 border bg-light nav-gutter fw-bold text-primary">Private Debt</a>
              </div>
              <div class="row">
                <a href="#graph10" class="p-2 border bg-light nav-gutter fw-bold text-primary">Portfolio Investment</a>
              </div>
              <div class="row">
                <a href="#graph11" class="p-2 border bg-light nav-gutter fw-bold text-primary">Mobile money
                  transactions</a>
              </div>
              <div class="row">
                <a href="#graph12" class="p-2 border bg-light nav-gutter fw-bold text-primary">Commercial Bank
                  Branches</a>
              </div>
              <div class="row">
                <a href="#graph13" class="p-2 border bg-light nav-gutter fw-bold text-primary">Human Development
                  Index</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-12 col-md-12 col-lg-10 mx-auto pt-4 pb-4 d-flex justify-content-around">

      <div class="row container-fluid px-0">

        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph0">
          <div class="card page-section">
            <a href="#faq0">
              <h5 class="text-light fw-normal bg-info p-3 m-0">GDP, PPP<i class="fa fa-info-circle float-end"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot1" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph1">
          <div class="card page-section">
            <a href="#faq1">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Index of Industrial Production <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot2" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph2">
          <div class="card page-section">
            <a href="#faq2">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Real GDP growth rate <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot3" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph3">
          <div class="card page-section">
            <a href="#faq3">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Net Exports <i class="fa fa-info-circle float-end"
                  aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot4" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph4">
          <div class="card page-section">
            <a href="#faq4">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Exchange-Rate Currency / USD <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot5" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph5">
          <div class="card page-section">
            <a href="#faq5">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Consumer price index <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot6" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph6">
          <div class="card page-section">
            <a href="#faq6">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Government Fiscal balance <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot7" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph7">
          <div class="card page-section">
            <a href="#faq7">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Market capitalization <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot8" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph8">
          <div class="card page-section">
            <a href="#faq8">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Gross debt <i class="fa fa-info-circle float-end"
                  aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot9" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph9">
          <div class="card page-section">
            <a href="#faq9">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Private debt <i class="fa fa-info-circle float-end"
                  aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot10" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph10">
          <div class="card page-section">
            <a href="#faq10">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Portfolio Investment <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot11" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph11">
          <div class="card page-section">
            <a href="#faq11">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Mobile money transactions <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot12" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph12">
          <div class="card page-section">
            <a href="#faq12">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Commercial bank branches <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot13" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                    <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 p-0 p-md-2" id="graph13">
          <div class="card page-section">
            <a href="#faq13">
              <h5 class="text-light fw-normal bg-info p-3 m-0">Human Development Index <i
                  class="fa fa-info-circle float-end" aria-hidden="true"></i></h5>
            </a>
            <div class="card-body">
              <div id="myPlot14" class="card-img-bottom" style="width: 100%"></div>
              <div class="row p-0 m-0">
                <p class="card-text text-md-start text-center col-12 col-md-6 p-0 m-0"><small
                    class="text-muted text-truncate mt-1">Source : IIMA Misra Centre, IMF</small></p>
                <p class="card-text text-md-end text-center col-12 col-md-6 p-0 m-0"><small class="text-muted mt-1">Most Recent: May 2022</small></p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <hr class="bg-light">

  </div>

  <div class="bg-light pt-4 pb-5" id="FAQs">
    <div class="text-center">
      <h2 class="mt-5 mb-5 display-4">FAQs</h2>
      <div class="accordion container-lg container-fluid" id="faqs">

        <div class="accordion-item" id="faq0">
          <h2 class="accordion-header" id="graph0">
            <button class="accordion-button bg-info text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph0c" aria-expanded="true" aria-controls="graph0c">
              GDP, PPP
            </button>
          </h2>
          <div id="graph0c" class="accordion-collapse collapse show" aria-labelledby="graph0" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq1">
          <h2 class="accordion-header" id="graph1">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph1c" aria-expanded="true" aria-controls="graph1c">
              Index of Industrial Production
            </button>
          </h2>
          <div id="graph1c" class="accordion-collapse collapse show" aria-labelledby="graph1" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq2">
          <h2 class="accordion-header" id="graph2">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph2c" aria-expanded="true" aria-controls="graph2c">
              Real GDP growth rate
            </button>
          </h2>
          <div id="graph2c" class="accordion-collapse collapse show" aria-labelledby="graph2" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq3">
          <h2 class="accordion-header" id="graph3">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph3c" aria-expanded="true" aria-controls="graph3c">
              Net Exports
            </button>
          </h2>
          <div id="graph3c" class="accordion-collapse collapse show" aria-labelledby="graph3" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq4">
          <h2 class="accordion-header" id="graph4">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph4c" aria-expanded="true" aria-controls="graph4c">
              Exchange-Rate Currency / USD
            </button>
          </h2>
          <div id="graph4c" class="accordion-collapse collapse show" aria-labelledby="graph4" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq5">
          <h2 class="accordion-header" id="graph5">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph5c" aria-expanded="true" aria-controls="graph5c">
              Consumer price index
            </button>
          </h2>
          <div id="graph5c" class="accordion-collapse collapse show" aria-labelledby="graph5" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq6">
          <h2 class="accordion-header" id="graph6">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph6c" aria-expanded="true" aria-controls="graph6c">
              Government Fiscal balance
            </button>
          </h2>
          <div id="graph6c" class="accordion-collapse collapse show" aria-labelledby="graph6" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq7">
          <h2 class="accordion-header" id="graph7">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph7c" aria-expanded="true" aria-controls="graph7c">
              Market capitalization
            </button>
          </h2>
          <div id="graph7c" class="accordion-collapse collapse show" aria-labelledby="graph7" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq8">
          <h2 class="accordion-header" id="graph8">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph8c" aria-expanded="true" aria-controls="graph8c">
              Gross debt
            </button>
          </h2>
          <div id="graph8c" class="accordion-collapse collapse show" aria-labelledby="graph8" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq9">
          <h2 class="accordion-header" id="graph9">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph9c" aria-expanded="true" aria-controls="graph9c">
              Private debt
            </button>
          </h2>
          <div id="graph9c" class="accordion-collapse collapse show" aria-labelledby="graph9" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq10">
          <h2 class="accordion-header" id="graph10">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph10c" aria-expanded="true" aria-controls="graph10c">
              Portfolio Investment
            </button>
          </h2>
          <div id="graph10c" class="accordion-collapse collapse show" aria-labelledby="graph10" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq11">
          <h2 class="accordion-header" id="graph11">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph11c" aria-expanded="true" aria-controls="graph11c">
              Mobile money transactions
            </button>
          </h2>
          <div id="graph11c" class="accordion-collapse collapse show" aria-labelledby="graph11" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="accordion-item" id="faq12">
          <h2 class="accordion-header" id="graph12">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph12c" aria-expanded="true" aria-controls="graph12c">
              Commercial bank branches
            </button>
          </h2>
          <div id="graph12c" class="accordion-collapse collapse show" aria-labelledby="graph12" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item" id="faq13">
          <h2 class="accordion-header" id="graph13">
            <button class="accordion-button bg-info  text-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#graph13c" aria-expanded="true" aria-controls="graph13c">
              Human Development Index
            </button>
          </h2>
          <div id="graph13c" class="accordion-collapse collapse show" aria-labelledby="graph13" data-bs-parent="#faqs">
            <div class="accordion-body">
              <p class="text-start"><strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<br>

<script>

  $(document).ready(function () {
    $.ajax({
      url: "/imfData",
      success: function (result) {
        // console.log(JSON.parse(result));
        res = JSON.parse(result);
        // console.log(res);

        var name1 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name2 = ["Brazil", "India", "Mexico", "Turkey", "", ""];
        var name3 = ["India", "Indonesia", "", "", "", ""];
        var name4 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name5 = ["India"];
        var name6 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name7 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name8 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name9 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name11 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name12 = ["Indonesia", "India", "Turkey", "SouthAfrica", "", ""];
        var name13 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];
        var name14 = ["Brazil", "Indonesia", "India", "Mexico", "Turkey", "SouthAfrica"];

        var title1 = "GDP, PPP";
        var title2 = "Index of Industrial Production - year on year growth";
        var title3 = "Real GDP Growth Rate";
        var title4 = "Net Exports (% of GDP)";
        var title5 = "Exchange Rate (INR/USD)";
        var title6 = "Consumer Price Index";
        var title7 = "Government Fiscal Balance";
        var title8 = "Market Capitalization";
        var title9 = "Gross Debt (% of GDP)";
        var title11 = "Portfolio Investment (yearly, USD)";
        var title12 = "Mobile money transactions per 1000 adults";
        var title13 = "Commercial Bank Branches per 100,000 adults";
        var title14 = "Human Development Index"

        var data1 = JSON.parse(res.extDataJson1);
        var data2 = JSON.parse(res.extDataJson2);
        var data3 = JSON.parse(res.extDataJson3);
        var data4 = JSON.parse(res.extDataJson4);
        var data5 = JSON.parse(res.extDataJson5);
        var data6 = JSON.parse(res.extDataJson6);
        var data7 = JSON.parse(res.extDataJson7);
        var data8 = JSON.parse(res.extDataJson8);
        var data9 = JSON.parse(res.extDataJson9);
        // var data10 = JSON.parse(res.extDataJson10);
        var data11 = JSON.parse(res.extDataJson11);
        var data12 = JSON.parse(res.extDataJson12);
        var data13 = JSON.parse(res.extDataJson13);
        var data14 = JSON.parse(res.extDataJson14);

        // data.forEach(genratedDatas);

        // console.log(data1); 
        genrateWBMultiGraph(data1, name1, title1, "myPlot1", "line", "v");

        // console.log(data2);
        genrateMultiGraph(data2, name2, title2, "myPlot2", "line", "v");

        // console.log(data3);
        genrateMultiGraph(data3, name3, title3, "myPlot3", "line", "v");

        // console.log(data4);
        genrateMultiGraph(data4, name4, title4, "myPlot4", "line", "v");

        // console.log(data5);
        genrateGraph(data5, name5, title5, "myPlot5", "line", "v");

        // console.log(data6);
        genrateMultiGraph(data6, name6, title6, "myPlot6", "line", "v");

        // console.log(data7);
        genrateMultiGraph(data7, name7, title7, "myPlot7", "line", "v");

        // console.log(data8);
        genrateWBMultiGraph(data8, name8, title8, "myPlot8", "line", "v");

        // console.log(data9);
        genrateMultiGraph(data9, name9, title9, "myPlot9", "line", "v");

        // console.log(data10);
        // genrateMultiGraph(data10, "myPlot10", "line", "v");

        // console.log(data11);
        genrateMultiGraph(data11, name11, title11, "myPlot11", "line", "v");

        // console.log(data12);
        genrateMultiGraph(data12, name12, title12, "myPlot12", "line", "v");

        // console.log(data13);
        genrateMultiGraph(data13, name13, title13, "myPlot13", "line", "v");

        // console.log(data14);
        genrateHRDOMultiGraph(data14, name14, title14, "myPlot14", "line", "v");

        var preloader = document.getElementById("loading");
        setInterval(() => {
          preloader.style.display = "none";
        }, 2000);

      },
      error: function (result) {
        console.log("error");
        var preloader = document.getElementById("loading");
        window.location.href = "/errorPage";
        preloader.style.display = "none";
      }
    });
  });

  function genrateGraph(data, name, title, plotId, typeOfGraph, orientationType) {
    var xValues = [];
    var yValues = [];

    // console.log(data,plotId,typeOfGraph,orientationType);

    data[0]["timeSeries"].forEach(genratedData);

    function genratedData(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        xValues.push(date);
        yValues.push(item.value);
      }
    }

    var dataPlot = [
      {
        x: xValues,
        y: yValues,
        name: name[0],
        type: typeOfGraph,
        line: {
          // color: 'red',
          width: 2,
        },
        orientation: orientationType,
      },
    ];

    var layout = {
      autosize: true,

      font: {
        family: 'Open Sans, serif',
        size: 12,
        // color: '#7f7f7f'
      },

      margin: {
        l: 20,
        r: 20,
        b: 100,
        t: 100,
        pad: 1
      },

      paper_bgcolor: '#dedede',
      plot_bgcolor: '#dedede',

      xaxis: {
        type: "date",
        title: "Years",
        ticks: "outside",
        tickangle: 'auto',
        tick0: 0,
        dtick: "M12",
        tickformat: '%Y',
        fixedrange: true,
        automargin: true,
      },

      yaxis: {
        title: "Values",
        fixedrange: true,
        automargin: true,
      },

      title: title,
      showlegend: true,
      legend: {
        x: 0.5,
        xanchor: 'center',
        y: 1.15,
        "orientation": "h"
      },
    };

    const config = {
      displayModeBar: false,
    };

    Plotly.newPlot(plotId, dataPlot, layout, config);
  }

  function genrateMultiGraph(data, name, title, plotId, typeOfGraph, orientationType) {

    var x1Values = [];
    var y1Values = [];

    var x2Values = [];
    var y2Values = [];

    var x3Values = [];
    var y3Values = [];

    var x4Values = [];
    var y4Values = [];

    var x5Values = [];
    var y5Values = [];

    var x6Values = [];
    var y6Values = [];

    // console.log(data[0],plotId,typeOfGraph,orientationType);

    try {
      var data1 = data[0][0]['timeSeries'];
      data1.forEach(genratedData1);
    }
    catch (err) {
      console.log(err);
    }

    try {
      var data2 = data[1][0]['timeSeries'];
      data2.forEach(genratedData2);
    }
    catch (err) {
      console.log(err);
    }

    try {
      var data3 = data[2][0]['timeSeries'];
      data3.forEach(genratedData3);
    }
    catch (err) {
      console.log(err);
    }

    try {
      var data4 = data[3][0]['timeSeries'];
      data4.forEach(genratedData4);
    }
    catch (err) {
      console.log(err);
    }

    try {
      var data5 = data[4][0]['timeSeries'];
      data5.forEach(genratedData5);
    }
    catch (err) {
      console.log(err);
    }

    try {
      var data6 = data[5][0]['timeSeries'];
      data6.forEach(genratedData6);
    }
    catch (err) {
      console.log(err);
    }

    // console.log(data1);


    function genratedData1(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        x1Values.push(date);
        y1Values.push(item.value);
      }
    }

    function genratedData2(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        x2Values.push(date);
        y2Values.push(item.value);
      }
    }

    function genratedData3(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        x3Values.push(date);
        y3Values.push(item.value);
      }
    }

    function genratedData4(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        x4Values.push(date);
        y4Values.push(item.value);
      }
    }

    function genratedData5(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        x5Values.push(date);
        y5Values.push(item.value);
      }
    }

    function genratedData6(item, index) {
      let date = new Date(item.time);
      if (item.value != null) {
        x6Values.push(date);
        y6Values.push(item.value);
      }
    }

    var dataPlot = [
      {
        x: x1Values,
        y: y1Values,
        name: name[0],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x2Values,
        y: y2Values,
        name: name[1],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x3Values,
        y: y3Values,
        name: name[2],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x4Values,
        y: y4Values,
        name: name[3],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x5Values,
        y: y5Values,
        name: name[4],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x6Values,
        y: y6Values,
        name: name[5],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
    ];

    var layout = {
      autosize: true,

      font: {
        family: 'Open Sans, serif',
        size: 12,
        // color: '#7f7f7f'
      },

      margin: {
        l: 20,
        r: 20,
        b: 100,
        t: 100,
        pad: 1
      },

      paper_bgcolor: '#dedede',
      plot_bgcolor: '#dedede',

      xaxis: {
        type: "date",
        title: "Years",
        ticks: "outside",
        tickangle: 'auto',
        tick0: 0,
        dtick: "M12",
        tickformat: '%Y',
        fixedrange: true,
        automargin: true,
      },

      yaxis: {
        title: "Values",
        fixedrange: true,
        automargin: true,
      },

      title: title,
      showlegend: true,
      legend: {
        x: 0.5,
        xanchor: 'center',
        y: 1.15,
        "orientation": "h"
      },
    };

    const config = {
      displayModeBar: false,
    };

    Plotly.newPlot(plotId, dataPlot, layout, config);
  }

  function genrateWBMultiGraph(data, name, title, plotId, typeOfGraph, orientationType) {

    var x1Values = [];
    var y1Values = [];

    var x2Values = [];
    var y2Values = [];

    var x3Values = [];
    var y3Values = [];

    var x4Values = [];
    var y4Values = [];

    var x5Values = [];
    var y5Values = [];

    var x6Values = [];
    var y6Values = [];

    data.forEach(genratedData);

    function genratedData(item, index) {
      let date = new Date(item.time);
      if (item.value != null && index < 12) {
        x1Values.push(date);
        y1Values.push(item.value);
      }
      else if (item.value != null && (index >= 12 && index < 24)) {
        x2Values.push(date);
        y2Values.push(item.value);
      }
      else if (item.value != null && (index >= 24 && index < 36)) {
        x3Values.push(date);
        y3Values.push(item.value);
      }
      else if (item.value != null && (index >= 36 && index < 48)) {
        x4Values.push(date);
        y4Values.push(item.value);
      }
      else if (item.value != null && (index >= 48 && index < 60)) {
        x5Values.push(date);
        y5Values.push(item.value);
      }
      else if (item.value != null && (index >= 60 && index < 72)) {
        x6Values.push(date);
        y6Values.push(item.value);
      }
    }

    var dataPlot = [
      {
        x: x1Values,
        y: y1Values,
        name: name[0],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x2Values,
        y: y2Values,
        name: name[1],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x3Values,
        y: y3Values,
        name: name[2],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x4Values,
        y: y4Values,
        name: name[3],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x5Values,
        y: y5Values,
        name: name[4],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x6Values,
        y: y6Values,
        name: name[5],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
    ];

    var layout = {
      autosize: true,

      font: {
        family: 'Open Sans, serif',
        size: 12,
        // color: '#7f7f7f'
      },

      margin: {
        l: 20,
        r: 20,
        b: 100,
        t: 100,
        pad: 1
      },

      paper_bgcolor: '#dedede',
      plot_bgcolor: '#dedede',

      xaxis: {
        type: "date",
        title: "Years",
        ticks: "outside",
        tickangle: 'auto',
        tick0: 0,
        dtick: "M12",
        tickformat: '%Y',
        fixedrange: true,
        automargin: true,
      },

      yaxis: {
        title: "Values",
        fixedrange: true,
        automargin: true,
      },

      title: title,
      showlegend: true,
      legend: {
        x: 0.5,
        xanchor: 'center',
        y: 1.15,
        "orientation": "h"
      },
    };

    const config = {
      displayModeBar: false,
    };

    Plotly.newPlot(plotId, dataPlot, layout, config);
  }

  function genrateHRDOMultiGraph(data, name, title, plotId, typeOfGraph, orientationType) {

    var x1Values = [];
    var y1Values = [];

    var x2Values = [];
    var y2Values = [];

    var x3Values = [];
    var y3Values = [];

    var x4Values = [];
    var y4Values = [];

    var x5Values = [];
    var y5Values = [];

    var x6Values = [];
    var y6Values = [];

    var data1 = data[0];
    var data2 = data[1];
    var data3 = data[2];
    var data4 = data[3];
    var data5 = data[4];
    var data6 = data[5];

    // console.log(data1);

    for (let a in data1) {
      var date = new Date(a);
      if (a != null) {
        x1Values.push(date);
        y1Values.push(data1[a]);
      }
    }

    for (let b in data2) {
      let date = new Date(b);
      if (b != null) {
        x2Values.push(date);
        y2Values.push(data2[b]);
      }
    }

    for (let c in data3) {
      let date = new Date(c);
      if (c != null) {
        x3Values.push(date);
        y3Values.push(data3[c]);
      }
    }

    for (let d in data4) {
      let date = new Date(d);
      if (d != null) {
        x4Values.push(date);
        y4Values.push(data4[d]);
      }
    }

    for (let e in data5) {
      let date = new Date(e);
      if (e != null) {
        x5Values.push(date);
        y5Values.push(data5[e]);
      }
    }

    for (let f in data6) {
      let date = new Date(f);
      if (f != null) {
        x6Values.push(date);
        y6Values.push(data6[f]);
      }
    }

    // console.log(x1Values, x2Values, x3Values, x4Values);
    // console.log(y1Values, y2Values, y3Values, y4Values);

    var dataPlot = [
      {
        x: x1Values,
        y: y1Values,
        name: name[0],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x2Values,
        y: y2Values,
        name: name[1],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x3Values,
        y: y3Values,
        name: name[2],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x4Values,
        y: y4Values,
        name: name[3],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x5Values,
        y: y5Values,
        name: name[4],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
      {
        x: x6Values,
        y: y6Values,
        name: name[5],
        type: typeOfGraph,
        line: {
          // color: 'yellow',
          width: 2,
        },
        orientation: orientationType,
      },
    ];

    var layout = {
      autosize: true,

      font: {
        family: 'Open Sans, serif',
        size: 12,
        // color: '#7f7f7f'
      },

      margin: {
        l: 20,
        r: 20,
        b: 100,
        t: 100,
        pad: 1
      },

      paper_bgcolor: '#dedede',
      plot_bgcolor: '#dedede',

      xaxis: {
        type: "date",
        title: "Years",
        ticks: "outside",
        tickangle: 'auto',
        tick0: 0,
        dtick: "M36",
        tickformat: '%Y',
        fixedrange: true,
        automargin: true,
      },

      yaxis: {
        title: "Values",
        fixedrange: true,
        automargin: true,
      },

      title: title,
      showlegend: true,
      legend: {
        x: 0.5,
        xanchor: 'center',
        y: 1.15,
        "orientation": "h"
      },
    };

    const config = {
      displayModeBar: false,
    };

    Plotly.newPlot(plotId, dataPlot, layout, config);
  }

</script>

{% endblock content %}