{% extends 'EcoFin/header.html' %} {% load static %} {% block content %}

<h1 class="text-center p-3 text-info">
  World Bank Data - {{responseObj.1.0.indicator.value}}
</h1>

<hr />

<div class="bg-info py-4">
  <div class="row w-75 mx-auto">
    <div class="col text-center">
      <p class="fw-bolder">CountryID : {{responseObj.1.0.country.id}}<br /></p>
      <p class="fw-bolder">
        CountryName : {{responseObj.1.0.country.value}}<br />
      </p>
      <p class="fw-bolder">
        CountryIsoCode : {{responseObj.1.0.countryiso3code}}<br />
      </p>
    </div>
    <div class="col text-center">
      <p class="fw-bolder">
        IndicatorID : {{responseObj.1.0.indicator.id}}<br />
      </p>
      <p class="fw-bolder">
        IndicatorName : {{responseObj.1.0.indicator.value}}<br />
      </p>
      <p class="fw-bolder">
        LastUpdated : {{responseObj.0.lastupdated}}<br />
      </p>
    </div>
  </div>
</div>

<br />

{% comment %} <table class="table table-bordered border-primary w-50 mx-auto">
  <tr>
    <th>Date</th>
    <th>Value</th>
  </tr>
  {% for i in responseObj.1 %} {% if forloop.counter < 5 and i.value != None %}
  <tr>
    <td>{{i.date}}</td>
    <td>{{i.value}}</td>
  </tr>
  {% endif %} {% endfor %}
</table> {% endcomment %}

<div class="row container mx-auto d-flex justify-content-around">
  <div class="col-12 col-md-5 col-lg-5 mx-1 my-2 p-2 bg-info rounded-3">
    <div id="myPlot1" style="width: 100%"></div>
  </div>
  <div class="col-12 col-md-5 col-lg-5 mx-1 my-2 p-2 bg-info rounded-3">
    <div id="myPlot2" style="width: 100%"></div>
  </div>
</div>
<div class="row container mx-auto my-2 d-flex justify-content-around ">
  <div class="col-12 col-md-5 col-lg-5 mx-1 my-2 p-2 bg-info rounded-3">
    <div id="myPlot3" style="width: 100%"></div>
  </div>
  <div class="col-12 col-md-5 col-lg-5 mx-1 my-2 p-2 bg-info rounded-3">
    <div id="myPlot4" style="width: 100%"></div>
  </div>
</div>

<script>
  data = JSON.parse("{{response|escapejs}}");

  var xValues = [];
  var yValues = [];

  console.log(data);

  data = data[1];

  data.forEach(genratedData);

  function genratedData(item, index) {
    let date = new Date(item.date);
    if (item.value != null) {
      xValues.push(date);
      yValues.push(item.value);
    }
  }

  //console.log(xValues);
  //console.log(yValues);

  var dataPlot = [
    {
      x: xValues,
      y: yValues,
      type: "scatter",
    },
  ];

  var layout = {
    xaxis: {
      type: "date",
      title: "Years",
      ticks: "outside",
      tick0: 0,
      dtick: "M12",
    },
    yaxis: {
      title: "Values",
    },
    title: "Time vs Value",
  };

  Plotly.newPlot("myPlot1", dataPlot, layout);

  Plotly.newPlot("myPlot2", dataPlot, layout);

  Plotly.newPlot("myPlot3", dataPlot, layout);

  Plotly.newPlot("myPlot4", dataPlot, layout);

</script>

{% endblock content %}
