{% extends 'EcoFin/header.html' %} {% load static %} {% block content %}

<h1 class="text-center p-3 text-info">
  World Bank Data
</h1> 
<hr />

<br />

<div class="row container-fluid mx-auto d-flex justify-content-around">
  <div class="col-12 col-md-4 col-lg-4 p-2 bg-info rounded-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{responseObj1.1.0.indicator.value}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated on {{responseObj1.0.lastupdated}}</small></p>
      </div>
      <div id="myPlot1" class="card-img-bottom" style="width: 100%"></div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4 p-2 bg-info rounded-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{responseObj2.1.0.indicator.value}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated on {{responseObj2.0.lastupdated}}</small></p>
      </div>
      <div id="myPlot2" class="card-img-bottom" style="width: 100%"></div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4 p-2 bg-info rounded-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{responseObj3.1.0.indicator.value}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated on {{responseObj3.0.lastupdated}}</small></p>
      </div>
      <div id="myPlot3" class="card-img-bottom" style="width: 100%"></div>
    </div>
  </div>
</div>
<div class="row container-fluid mx-auto d-flex justify-content-around">
  <div class="col-12 col-md-4 col-lg-4 p-2 bg-info rounded-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{responseObj4.1.0.indicator.value}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated on {{responseObj4.0.lastupdated}}</small></p>
      </div>
      <div id="myPlot4" class="card-img-bottom" style="width: 100%"></div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4 p-2 bg-info rounded-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{responseObj5.1.0.indicator.value}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated on {{responseObj5.0.lastupdated}}</small></p>
      </div>
      <div id="myPlot5" class="card-img-bottom" style="width: 100%"></div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-4 p-2 bg-info rounded-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{responseObj6.1.0.indicator.value}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated on {{responseObj6.0.lastupdated}}</small></p>
      </div>
      <div id="myPlot6" class="card-img-bottom" style="width: 100%"></div>
    </div>
  </div>
</div>

<script src="{% static 'EcoFin/js/plotly.js' %}"></script>

<script>

  data1 = JSON.parse("{{response1|escapejs}}");
  data2 = JSON.parse("{{response2|escapejs}}");
  data3 = JSON.parse("{{response3|escapejs}}");
  data4 = JSON.parse("{{response4|escapejs}}");
  data5 = JSON.parse("{{response5|escapejs}}");
  data6 = JSON.parse("{{response6|escapejs}}");

  genrateGraph(data1,"myPlot1","line","v");
  genrateGraph(data2,"myPlot2","bar","v");
  genrateGraph(data3,"myPlot3","line","v");
  genrateGraph(data4,"myPlot4","bar","h");
  genrateGraph(data5,"myPlot5","line","v");
  genrateGraph(data6,"myPlot6","bar","v");

</script>

{% endblock content %}
